@model IEnumerable<PersonalBlog.Data.BlogPost>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    var user = await UserManager.GetUserAsync(User);
}
<div class="row">
    <div class="col-lg-8 col-sm-12">
        @foreach (var item in Model)
        {
            <div class="align-items-center row">
            <img src="~/images/@item.Image" class="ml-2" alt="BlopPostImage" height="auto" width="90%" asp-append-version="true" />
            </div>
            <br />
            @if (item.Id == 1)
            {
                <span>Photo by 🇨🇭 Claudio Schwarz | @@purzlbaum on Unsplash</span>
            }
            else if (item.Id == 2)
            {
                <span>Photo by Mak on Unsplash</span>
            }
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <small>
                @Html.DisplayFor(modelItem => item.Summary)
            </small>
            <small class="float-right">
                @item.DateCreated.ToLongDateString()
            </small>
            <p>
                @Html.DisplayFor(modelItem => item.Body)
            </p>
            <small>
                @user?.Email
            </small>
            <br />
            <hr />
            <div>
                <br />
            </div>
        }
    </div>
    <div class="col-lg-4 col-sm-12">
        <div id="search-12" class="widget widget_search">
            <h4 class="h-widget">Search Blog</h4>
            <form method="get" id="searchform" class="form-search" action="https://stackify.com/">
                <label for="s" class="visually-hidden">Search</label>
                <input type="text" id="s" class="search-query aa-input" name="s" placeholder="Search" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-labelledby="s" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="outline: none;">
            </form>
        </div>
        <br />
        <br />
        <br />
        <div>
            <h4>Topics/Keywords</h4>
            <ul>
                <li>Top</li>
                <li>Middle</li>
                <li>Bottom</li>
            </ul>
        </div>
        <br />
        <br />
        <br />
        <div>
            <h4>Popular Posts</h4>
            <ul>
                <li>Top</li>
                <li>Middle</li>
                <li>Bottom</li>
            </ul>
        </div>
        
        <br />
        <br />
        <br />
        <div>
            <h4>Recent Posts</h4>
            <ul>
                <li>Top</li>
                <li>Middle</li>
                <li>Bottom</li>
            </ul>
        </div>
    </div>
</div>
