@model IEnumerable<PersonalBlog.Data.BlogPost>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
    var user = await UserManager.GetUserAsync(User);
}
<div class="row">
    <div class="col-8">
        @foreach (var item in Model)
        {
            <img src="~/images/@item.Image" alt="BlopPostImage" height="300" width="700" asp-append-version="true" />
            <br />
            @if (item.Id == 1)
            {
                <span>Photo by 🇨🇭 Claudio Schwarz | @@purzlbaum on Unsplash</span>
            }
            else if (item.Id == 2)
            {
                <span>Photo by Mak on Unsplash</span>
            }
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <small>
                @Html.DisplayFor(modelItem => item.Summary)
            </small>
            <small class="float-right">
                @item.DateCreated.ToLongDateString()
            </small>
            <p>
                @Html.DisplayFor(modelItem => item.Body)
            </p>
            <small>
                @user?.Email
            </small>
            <br />
            <hr />
            <div>
                <br />
            </div>
        }
    </div>
    <div class="col-4">
        <div id="search-12" class="widget widget_search">
            <h4 class="h-widget">Search Blog</h4>
            <form method="get" id="searchform" class="form-search" action="https://stackify.com/">
                <label for="s" class="visually-hidden">Search</label>
                <input type="text" id="s" class="search-query aa-input" name="s" placeholder="Search" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-labelledby="s" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="outline: none;">
                <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Arial, &quot;Helvetica Neue&quot;, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;" class=" prettyprinted">
                </pre>
            </form>
        </div>
        <br />
        <br />
        <br />
        <div>
            <h4>Topics/Keywords</h4>
            <ul>
                <li>Top</li>
                <li>Middle</li>
                <li>Bottom</li>
            </ul>
        </div>
        <br />
        <br />
        <br />
        <div>
            <h4>Popular Posts</h4>
            <ul>
                <li>Top</li>
                <li>Middle</li>
                <li>Bottom</li>
            </ul>
        </div>
        
        <br />
        <br />
        <br />
        <div>
            <h4>Recent Posts</h4>
            <ul>
                <li>Top</li>
                <li>Middle</li>
                <li>Bottom</li>
            </ul>
        </div>
    </div>
</div>
